.t1{
  display: inline-block;
  font-family: arial
}
.t4{
  border: 2px solid blue;
  display: inline-block;
}

ul{
  list-style: none;
  float: right;
}

section{
  -moz-column-count: 3;
  -moz-column-gap: 3em;
  -moz-column-rule-width: 1ex;
}

h1{font-size: 120%;
  color: grey;
  float: left;
  font-family: arial;
  margin-left: 100px;
}

.t2{
  clear: both;
  background-color: grey;
  color: white;
  margin-left: 500px;
  margin-right: 500px

}

.t3{
  text-align: center;
  font-family: arial
}

img{
  width: 50px; height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.p1{
  text-align: center;
  font-family: arial
}
.p2{
  text-align: center;
  font-family: arial
}

a{
  text-decoration: none;
}
.background{
  clear: both;
  background-color: yellow;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 20px;
  border: 1px
}

.featured{
  background-color: white;
  margin-left: 100px;
  margin-right: 600px;
  text-align: justify;
  padding-bottom: 200px;
  margin-top: 100px;
}
.feat{
  float: left;
  background-color: grey;
  color: white;
  padding-top: 3px;
  padding-left: 15px;
  margin-top: 10px;
  margin-left: 15px;
}
.days{
  float: right;
  margin-right: 15px;
}
.need{
  clear: both;
}
.raised{
  float: left;
}
.goal{
  float: right;
}
.donate{
  clear: both;
  float: inherit;
  text-align: center;
  padding-top: 50px;
}
